table {
    border-collapse: collapse;
    border: 2px solid #7f7f7f;
}

table tr, td, th {
    border: 2px solid #7f7f7f;
}

table td, th {
    padding: 15px;
    font-size: 17px;
}

table th {
    text-transform: uppercase;
}
.header {
    font-family: Georgia;
}